body {
    height: 100%;
    width: 100%;
    background-image: url(./assets/bg.bmp);
    background-repeat: repeat-y;
    background-size: cover;
  }

  div.bg-transparent {
    --bs-bg-opacity: .65;
    border: 2px solid balck;
    border-radius: 30px;
  }